    * {
      padding: 0;
      margin: 0;
    }

    html {
      /* border-top: 10px #1abf89 solid; */
      background-color: #f3eded;
    }

aside
{
    position:fixed;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid #111;
}

    .row {
      display:flex;
    }
    #database {
      display:none;
    } 
    #editor {
      margin: 0 auto;
      padding: 5% 20px 20px;
      font-family: Palatino, Optima, Georgia, serif;
    }

    @media all and (max-width:1024px) {
      pre a {
        width: 60%;
      }
    }

    small {
      color: #999;
    }

    pre {
      white-space: pre-wrap;
    }

    #toolbar {
      margin-bottom: 1em;
      position: fixed;
      left: 20px;
      margin-top: 5px;
    }

    #toolbar [class^="icon-"]:before,
    #toolbar [class*=" icon-"]:before {
      font-family: 'pen'
    }

    #mode {
      color: #1abf89;
      ;
      cursor: pointer;
    }

    #mode.disabled {
      color: #666;
    }

    #mode:before {
      content: '\e813';
    }

    #hinted {
      color: #1abf89;
      cursor: pointer;
    }

    #hinted.disabled {
      color: #666;
    }

    #hinted:before {
      content: '\e816';
    }

    #tomd {
      color: #fff;
      border-radius: 2px;
      line-height: 1;
      padding: 1px 3px 0;
      font-size: 0.8em;
      background: #000;
      cursor: pointer;
    }

    #fork {
      position: fixed;
      right: 0;
      top: 0;
    }

    /*
  When the webpage is printed
  this media query hides extra elements,
  and makes the text content fit the page.
  */
    @media print {
      #fork,
      #toolbar {
        display: none;
      }
      body {
        width: 94%;
        padding-top: 1em;
        font-size: 12px;
      }
      html {
        border-top: 0;
      }
    }
button {
    padding: 10px 20px;
    font-size: 16px;
            cursor: pointer;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #218838;
        }
        #saveButton {
            background-color: #007bff;
            margin-top: 20px;
        }
        #saveButton:hover {
            background-color: #0056b3;
        }
